name: mail test
on:
  push:
    paths-ignore:
      - '**/workflows/mailtest.yml'

  workflow_dispatch:

jobs:
  test:
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, windows-latest]
        python: ['3.10']
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
      with:
        persist-credentials: false
        repository: 'https://github.com/sebbASF/cpython'
        ref: 'gh-93376'
    - name: Check
      run: |
        python3 -V
        python3 -E  ./Tools/scripts/run_tests.py  test_mailbox
