name: other test
on:
  push:
    paths-ignore:
      - '**/workflows/mailtest.yml'

  workflow_dispatch:

jobs:
  test:
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, windows-latest]
        python: ['3.10']
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
      with:
        persist-credentials: false
        repository: 'sebbASF/cpython'
        ref: 'gh-93376'
        depth: 0
    - name: Check
      env:
        EXTRATESTOPTS: "-v test_mailbox"
      run: |
        python3 -V
        make test
        
